<div class="col s10 offset-s1">
	<div class="card-panel z-depth-2">
		<h3><span><i class="material-icons medium left">inbox</i>Confirmación de Radicación</span></h3>
		<div class="divider"></div>

		<div class="row">
			<div class="input-field col s4">
				<input id="dociden" type="text" class="validate">
				<label for="dociden">Documento de Identificación</label>
			</div>
			<div class="input-field col s4">
				<button class="waves-effect waves-light btn #ffffff white" style="margin-top: 3%;"><i class="material-icons orange600">search</i></button>
			</div>

			<div class="input-field col s4">
				<input id="fecha_confirm" type="date" class="datepicker">
				<label for="fecha_confirm">Fecha de confirmación</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea"></textarea>
				<label for="textarea1">Descripción</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s3">
				<input name="group1" type="radio" id="test1" class="with-gap"/>
				<label for="test1">Realizar traslado</label>
			</div>

			<div class="input-field col s3">
				<input name="group1" type="radio" id="test2" class="with-gap"/>
				<label for="test2">Sin realizar traslado</label>
			</div>
		</div>

		<div class="row">
			<button style="margin-top: 5%;margin-left: 80%;" class="btn grey" ng-click="">Confirmar</button>
		</div>
	</div>
</div>