<nav class="brown lighten-2">
  <a data-activates="mobile-demo" class="button-collapse hand_click"><i class="material-icons">menu</i></a>
</nav>
  <ul class="side-nav" id="mobile-demo">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/sidenavFondo.jpg">  
        </div>
        <span class="user"><img class="circle" src="images/sidenavFondo.jpg"></span>
        <span>
          <a href="#"><span class="name white-text">{{ DatosBasicos.Nombres+" "+DatosBasicos.Apellidos}}</span></a>
          <span class="email white-text">{{ DatosBasicos.Rol}} <br>{{ DatosBasicos.Email}}</span>
        </span>

      </div>
    </li>
    <li><a ui-sref="Secretaria.RegistarCartera">Registrar Cartera</a></li>
    <li><a ng-click="CerrarSesion()" class="hand_click">Cerrar Sesión</a></li>
  </ul>

  <ul class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/sidenavFondo.jpg">  
        </div>
        <span class="user"><img class="circle" src="images/sidenavFondo.jpg"></span>
        <span>
          <a href="#"><span class="name white-text">{{ DatosBasicos.Nombres+" "+DatosBasicos.Apellidos}}</span></a>
          <span class="email white-text">{{ DatosBasicos.Rol}} <br>{{ DatosBasicos.Email}}</span>
        </span>

      </div>
    </li>
    <li><a ui-sref="Secretaria.RegistarCartera">Registrar Cartera</a></li>
    <li><a ng-click="CerrarSesion()" class="hand_click">Cerrar Sesión</a></li>
  </ul>
  
  <div class="row adaptar">
    <div ui-view="MainView"></div>
  </div>