<nav class="brown lighten-2"></nav>
  <ul class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/sidenavFondo.jpg">  
        </div>
        <span class="user"><img class="circle" src="images/sidenavFondo.jpg"></span>
        <span>
          <a href="#"><span class="name white-text">Maria Magdalena</span></a>
          <span class="email white-text">Secretaria <br> maria@gmail.com</span>
        </span>

      </div>
    </li>
    <li><a ui-sref="Secretaria.RegistarCartera">Registrar Cartera</a></li>
    <li><a href="#!/close" ng-click="CerrarSesion()">Cerrar Sesión</a></li>
  </ul>
  
  <div class="row adaptar">
    <div ui-view="MainView"></div>
  </div>