<div class="col s10 offset-s1">
	<div class="card-panel z-depth-2">
		<h3><span><i class="material-icons medium left">inbox</i><span> Registro de Cartera</h3>
		<div class="divider"></div>

		<div class="row">
			<table class="bordered highlight centered responsive-table">
				<thead>
					<tr>
						<th>Número Expediente</th>
						<th>Identificación</th>
						<th>Nombre</th>
						<th>Cuantía</th>
						<th>Opciones</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="dato in listadoExpedientes">
						<td>{{dato.expedienteId}}</td>
						<td>{{dato.expediente.identificacion}}</td>
						<td>{{dato.expediente.nombre}}</td>
						<td>{{dato.cuantia}}</td>
						<td><a ui-sref="Secretaria.RegistarCartera_P2"><i class="material-icons hand_click" ng-click="GestionarDocumentosSecretaria(dato)">mode_edit</i></a>
						</td>
					</tr>
					<!--<tr>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td><a ui-sref="Secretaria.RegistarCartera_P2"><i class="material-icons hand_click" ng-click="">mode_edit</i></a>
						</td>
					</tr>-->
				</tbody>
			</table>
		</div>

		<div class="fixed-action-btn horizontal">
			<a class="btn-floating btn-large waves-effect waves-light grey" ui-sref="Secretaria.RegistarCartera_P1"><i class="material-icons">add</i></a>
		</div>
	</div>
</div>